/* shared style */
body{
    font-family: 'Open Sans', sans-serif;
}
.container1{
   display: flex;
   height: 570px;
   width: 1150px;
   
   justify-content: space-around;
   background-color:#FFFFFF;
   align-items: center;
   padding: 100px;
   background-repeat: no-repeat;
   background-position:cover;
   margin: auto;
   
   
}
.container-text{
 height: 708px;
 width: 506px;
 padding-top: 150px;
 
 
 
}
.header1{
  font-size:60px ;
  margin-top: 10px;
  font-family: Lato;
  
}
.para1{
 margin-top: 5px;
}
.flower1{
 height: 600px;
 width: 535px;
 padding-left: 90px;
 padding-bottom: 30px;
}
.fl-container{
  margin-bottom: 45px;
}
.container2{
 padding: 100px;
 align-items: center;
 
}
.con-text{
 text-align: center;
}
.con-img{
 margin-right: 25px;
 padding: 10px;
 height: 195px;
 width: 165px;
 
 

}
.con2{
    display: flex;
    justify-content: center;
    
    
}
.foot{
    background-color: black;
    height: 29vh;
    color:rgb(210, 194, 163) ;
}
.para2{
    text-align: center;
}
.style2{

}
.style1{
    text-align: center;
    font-size: 29px;
    padding-top: 25px;
    
}
.style2{
    color: #e87790;
}
.top{
    background-image: url('flower-shop-assignment-main/flower-shop-assignment-main/Flower asset/Rectangle\ 9.png');
    height: 26vh;
    padding: 30px;
    margin: 0px 70px;
}
.para3{
    text-align: center;
    font-size: 18px;
}
.btn2{
    
    border-radius: 3px;
    background: #E55473;
    padding: 8px ;
    color: white;
    border: none;
}
.bo{
    font-size:12px;
    color: rgba(39, 39, 39, 0.60)
}
.contit{
    text-align: center;
}
.header2{
    font-size: 25px;
    
}
.para0{
    font-size: 14px;
}
.img-contt{
    display: flex;
    justify-content: center;
    ;
    

}
.img11{
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    border-radius: 300px 300px 0px 0px;
    
    padding: 22px;
    

}
.img22{
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
padding: 22px;

}
.img33{
    border-radius: 300px 300px 0px 0px;
    padding: 22px;
 background: rgba(71, 125, 17, 0.15);
 
}
.w{
    margin: 10px;
    height: 250px;
    width: 220px;
}
.mini3{
  display: flex;
  justify-content: space-around;
  border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
height: 200px;
margin: 70px 220px 0px 220px;

}
.action{
  height: 75px;
  padding-top: 40px;
  margin-left: 65px;
}
.right1{
    text-align: center;
}
.lastlong{
 padding-bottom: 10px;
}
.offer{
    text-align: center;
    margin-top: 85px;
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
height:250px
}
.v2{
    padding-top: 25px;
}